
body{
     padding: 0px;
     margin: 0px;
     background-color:black;
}

nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      padding: 10px;
}

nav section{
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: center;
      align-items: center;
      background-color: black;
}

.firstheader{
     display: flex;
     height: 36px;
     padding:10px;
     margin: 10px;
     justify-content: center;
     align-items: center;
     border-radius: 40px;
     border-style: hidden;
     border-color: gray;
     background-color: black;
     color: white;
     font-size: 60px;
}

.secondheader{
      display: flex;
      flex-direction: column;
      height: 36px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      border-style: hidden;
      border-radius: 40px;
      color: white;
      background-color: black;
      font-size: 60px;
}

.text{
      height: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px;
      padding: 20px;
      gap: 10px;
      color: white;
}

.dashboard{
      width: 1000px;
      border-radius: 24px;
      height: 500px;
      align-items: center;
}

a{
      text-decoration: none !important;
      color: white;
}

.update{
      background-color:#EB451B ;
      height: 50px;
      padding-inline: 36px;
      border-radius: 10px;
      color: white;
      font-size: 18px;
}

.firstsection{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 36px;
}

.input{
      width: 359px;
      height: 50px;
      background-color: #1C1C1E;
      border-radius: 10px;
      border-width: 1px;
      border-style: solid;
      border-color:#1C1C1E ;
      color: white;
      padding-inline: 16px;
}

.form{
      display: flex;
      flex-direction: row;
      gap: 10px;
}

input:focus{
      border-width: 1px;
      border-style: solid;
      border-color:#1C1C1E ;
}

.int{
      height: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 200px;
      color: white ;
}

.magic{
      
}
